@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.button {
  width: 6.5rem;
  height: 31px;
  padding: 0.5rem 2.125rem;
  border-radius: 0.375rem;
  border: none;
  background-color: #992525;
  color: #ffd2b1;
  margin-bottom: 1.5625rem;

  &:active {
    background-color: #670e0e;
  }

  &--change {
    width: 244px;
    height: 31px;
    padding: 0.5rem 2.125rem;
    border-radius: 0.375rem;
    border: 0.0625rem solid #992525;
    background-color: transparent;
    margin-bottom: 1.5625rem;
    @include hover {
      border: 0.0625rem solid #d67400;
    }
    &:active {
      border: 0.0625rem solid #670e0e;
    }
  }

  &--popup {
    width: 222px;
    margin-top: 1.6875rem;
  }
  @include hover {
    background-color: #d67400;
    color: #ffd2b1;
  }
}
