.title {
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 1%;
  color: #992525;
}
.title__box {
  margin-bottom: 13px;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.subtitle__box {
  margin-bottom: 47px;
}
